.jumbotron
  %h1 Вітаю!
  %p.lead This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %p
    %a.btn.btn-success.btn-large
      Let's do it!
%hr
.row-fluid
  - 3.times do |i|
    .span4
      %h2=%w[Спонсори Допомога Інше][i]
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a
          View details
          %i.icon-circle-arrow-right
