%script(type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU")
=javascript_include_tag :map
=javascript_tag @json
.jumbotron
  .span5
    %h2.supablue We connect people with desire to help and those who need it.
  .span6
    %h4.supaorange People who need your help never were that close to you!
    %ul
    %li.supagray Browse a place on the map where you can help
    %li.supagray Pick type of activity you are interested in
    %li.supagray Check if you fit the deadline
    %li.supagray
      %b.supagray Do it!
    %br
    %br
  #map
  %p.lead Use it as a starting point to create something more unique.

%hr
.row-fluid
  .span4.pam
    %h4 No more loneliness
    %blockquote
      "The time I feel most lonely is after six o’clock at night, but when I’ve been out to a Contact tea, then I don’t feel lonely at all, just fresh memories of a lovely afternoon out with friends. It’s good getting out and meeting people and it’s fun for us to get together. It has made such a difference to my life" 
      %small Clare

  .span4.pam
    %h4 Bringing joy to older people
    %blockquote
      "I have had many good experiences both volunteering and visiting my neighbor Lucy. My volunteer experience has shown me that I can bring joy to older people. Everyone will have to face having parents and grandparents growing older and becoming dependent on their children. Dealing with this situation has made me a stronger and more caring person."
      %small Peter

  .span4.pam
    %h4 Good progress
    %blockquote
      "Having to stop working two and half years ago because of my illness was really difficult for me. I loved working and had worked very hard at not to have to give up - working part-time and then as a temp. As a volunteer I feel as if I am working again! I have progressed in a way that 3 years ago I would have never thought possible. I don't think it's an exaggeration to say that without the volunteering I might not even be here today." 
      %small Robert

