/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a#fb-login{
  background-color: #3b5998;
}

a#fb-login:hover{
  background-color: #23487e;
}
a#fb-login,
a#fb-login:focus,
a#fb-login:hover{
  padding: 0.06em 0.12em 0 0.12em;
  color: #fff;
  text-shadow: none;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  vertical-align: middle;
  background-image: none;
  font-size: 18pt;
}
a#fb-login i{
  padding-right: 0.12em;
  font-size: 18pt;
}