/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=latin,cyrillic);

a#fb-login{
  background-color: #3b5998;
}

a#fb-login:hover{
  background-color: #23487e;
}
a#fb-login,
a#fb-login:focus,
a#fb-login:hover{
  padding: 0.16em 0.22em 0.1em 0.22em;
  color: #fff;
  text-shadow: none;
  vertical-align: baseline;
  background-image: none;
  font-size: 14px;
}
a#fb-login i{
  padding-right: 0.12em;
  font-size: 18pt;
}

.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron {
  margin: 20px 0 80px;
}

a.me.thumbnail {
  padding: 3px;
  float:right;
  margin:0;
}
.me.thumbnail img{
  max-width: 50px;
  max-height: 50px;
}

.alert{
  margin: 0.5em;
  z-index: -1;
  top: -10px;
  position: relative;
}
.alert .close{
  top:0;
}
#map{
  width:100%;
  height: 600px;
}
.pam{
  padding:10px 20px;
}
.ptm{padding-top:20px;}
.pbs{padding-bottom:10px;}
.prs{padding-right:10px;}
.plm{padding-left:20px;}
.plxm{padding-left:30px;}
.supagray{color:#6f6f6f;}
.supaorange{color:#cb6600;}
.supablue{color:#3db2de;}
.darkgray{color:#424242;}
.lightgray{color:#948890;}

#ava-block{
  width: 56px;
  margin-right: 40px;
}

#activity-show{
  padding-top: 30px;
}

body{
  font-family: 'PT Sans Caption', sans-serif !important;
  background:url(/fancy_deboss.png) #efefef !important;
}
.well.decor{
  background-color:white;
  border:1px white solid;
}
#activity-show h1{
  font-size:22px !important;
  line-height: 26px;font-weight:normal;
}
#activity-show h2{
  font-size:16px!important;
  line-height: 18px;
}
#activity-show h3{
  font-size:12px!important;
}
.subtlebg{background-color:silver}
.relative{position:relative;}
.icon-heart-small{color:#f20017;font-size:26px;position:absolute;left:-33px;}
.logotype{padding:10px 0 6px;}

.category.shop{color:#f20017;}
.navbar-inner{border-bottom:1px white solid;}
.navbar-inner, .navbar-inner .container-fluid{background-color:#3b3b3b !important;}
a.skyblue{color:#3db2de;}
.bgwhite{background-color:white;}