.container#activity-show
  .well.decor.span6.offset3
    .row
      .span4.relative
        %span.icon-heart.icon-heart-small
        .category.shop
          Deadline:
          =@activity.deadline
        %h1.darkgray=@activity.name
        %p.status{class: @activity.state}
          Status:
          =@activity.state
        %p.lightgray
          =@activity.description
      - if volunteer_signed_in? and @activity.volunteer = current_volunteer
        .span2.ptm.border-left
          %h2.darkgray=@activity.person.try :name
          %p.lightgray 
            =@activity.person.try(:address)
            %br
            =@activity.person.try(:phone)
    .row
      .span6.ptm
        - unless volunteer_signed_in?
          = link_to volunteer_omniauth_authorize_path('facebook'), class: ['btn','btn-info', 'brand'], id: 'fb-login' do
            %i.icon-facebook-sign
            Login
        - else
          - disabled = @activity.open? ? nil : 'disabled inactive'
          = button_to 'Login to apply', apply_activity_path(@activity), method: :post, class: [:btn, 'btn-success', disabled], id: 'apply-btn', :confirm => ("Are you sure?" unless disabled)