.container#activity-show
  .well.decor.span6.offset3
    .row
      .span3
        .category.shop Buy goods
        %h1
          Buy "Noshpa"
        %p.status.open Open
        %p Small description here
      .span2
        %h2 Petro Netrebko
        %p
          Predslavinska 7, apt. 98
          %h3 044 567-89-12
    .row
      .span6
        - unless volunteer_signed_in?
          = link_to volunteer_omniauth_authorize_path('facebook'), class: ['btn','btn-info', 'brand'], id: 'fb-login' do
            %i.icon-facebook-sign
            Login
        - else
          - disabled = @activity.open? ? nil : 'disabled inactive'
          = button_to 'Apply', apply_activity_path(@activity), method: :post, class: [:btn, 'btn-success', disabled], id: 'apply-btn', :confirm => ("Are you sure?" unless disabled)