.container#activity-show
  .well.decor.span6.offset3
    .row
      .span4.relative
        %span.icon-heart.icon-heart-small
        .category.shop 18:00, 5 may 2013
        %h1.darkgray
          Buy drugs in local drugstore
        %p.status.open Status: Open
        %p.lightgray Having to stop working two and half years ago because of my illness was really difficult for me. I loved working and had worked very hard at not to have to give up - working part-time and then as a temp.
      .span2.ptm.border-left
        %h2.darkgray Petro Netrebko
        %p.lightgray 
          Predslavinska 7, apt. 98
          %br
          044 567-89-12
    .row
      .span6.ptm
        - unless volunteer_signed_in?
          = link_to volunteer_omniauth_authorize_path('facebook'), class: ['btn','btn-info', 'brand'], id: 'fb-login' do
            %i.icon-facebook-sign
            Login
        - else
          - disabled = @activity.open? ? nil : 'disabled inactive'
          = button_to 'Apply', apply_activity_path(@activity), method: :post, class: [:btn, 'btn-success', disabled], id: 'apply-btn', :confirm => ("Are you sure?" unless disabled)