.container#activity-show
  .well.decor.span6.offset3
    .row
      .span4
        .icon_heart
        .category.shop Buy drugs
        %h1=@activity.name
        %p.status{class: @activity.state}
          Status:
          =@activity.state
        %p=@activity.description
      .span2.ptm
        %h2=@activity.person.try :name
        %p 
          =@activity.person.try(:address)
          %br
          =@activity.person.try(:phone)
    .row
      .span6
        - unless volunteer_signed_in?
          = link_to volunteer_omniauth_authorize_path('facebook'), class: ['btn','btn-info', 'brand'], id: 'fb-login' do
            %i.icon-facebook-sign
            Login
        - else
          - disabled = @activity.open? ? nil : 'disabled inactive'
          = button_to 'Apply', apply_activity_path(@activity), method: :post, class: [:btn, 'btn-success', disabled], id: 'apply-btn', :confirm => ("Are you sure?" unless disabled)